<div class="md-content">
    <section class="md-section js-consult-form" style="padding-top:200px; padding-bottom: 40px;">
     <div class="container"  style="border: 2px solid #03a9f4;">
      <div class="row" style="margin-left:2px;margin-top:5px;">
        <div class="col-lg-2">
          <img src="assets\images\v-2.jpg" style="height:200px;weight:100%" >
          </div>
          <div class="col-lg-9">
            <div class="row">
              <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
              <div class="col-lg-1">ID:</div>
            <div class="col-lg-5" style="margin-left:-40px;"> <span  style="color:#0060b1;font-weight: bold;">{{userData.user_unique_id}}</span></div>
            </div>
            <div class="row">
                <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
                <div class="col-lg-2">Name:</div>
              <div class="col-lg-5"> <span  style="color:#0060b1;font-weight: bold;">{{userData.name}}</span></div>
              </div>
              <div class="row">
                  <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
                  <div class="col-lg-2">Profession:</div>
                <div class="col-lg-5"> <span  style="color:#0060b1;font-weight: bold;">{{userData.profession}}</span></div>
                </div>
                <div class="row">
                    <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
                    <div class="col-lg-2">Age:</div>
                  <div class="col-lg-5"> <span  style="color:#0060b1;font-weight: bold;">{{subData.age}}</span></div>
                  </div>
                  <div class="row">
                      <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
                      <div class="col-lg-2">Height:</div>
                    <div class="col-lg-5"> <span  style="color:#0060b1;font-weight: bold;">{{subData.height}}</span></div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
                        <div class="col-lg-2">Weight:</div>
                      <div class="col-lg-5"> <span  style="color:#0060b1;font-weight: bold;">{{subData.weight}}</span></div>
                      </div>
                      <div class="row">
                          <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
                          <div class="col-lg-2">Have Worked In:</div>
                        <div class="col-lg-5"> <span  style="color:#0060b1;font-weight: bold;">{{subData.filmsCourse}}</span></div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
                            <div class="col-lg-2">Film Industry interested:</div>
                          <div class="col-lg-5"> <span  style="color:#0060b1;font-weight: bold;">{{subData.industry}}</span></div>
                          </div>
                                          <div class="row">
                                              <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
                                              <div class="col-lg-2">About me:</div>
                                              <div class="col-lg-5"><span  style="color:#0060b1;font-weight: bold;">{{subData.aboutSelf}}</span></div>
                                              </div>
<br/>
                                              <div class="row">
                                                <div class="col-lg-2">
                                                  <button class="btn btn-primary">View More</button>
                                                </div>
                                                <div class="col-lg-5">Share via
                                                    <a class="fa fa-facebook"></a>
                                                    <a class="fa fa-linkedin"></a>
                                                    <a class="fa fa-twitter"></a>
                                                </div>
                                                <div class="col-lg-3">
                                                  <button class="btn btn-primary">Request For Contact Detail</button>
                                                  </div>
                                                </div>
                                                <br/>


            </div>
        </div>
</div>
<br/>
<div class="container"  style="border: 2px solid #03a9f4;">
  <div class="row" style="margin-top:5px;">
    <div class="col-lg-3" >
      <div class="container gallery" >
        My Gallery
      </div>
      <div class="container gallery" style="background-color:white;color:black;">
          value should be here
        </div>
      
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3" style="margin-left:215px;">
        <div class="container gallery" >
          My Videos
        </div>
        <div class="container gallery" style="background-color:white;color:black;">
           <div class="row">
             <div class="col-lg-2" style="width:50%">
               <div class="container">
                <div class="video" data-init="video">
                    <iframe src="https://www.youtube.com/embed/Q-GOFPM01d0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    
                </div>
                </div>
               </div>
              
                  
                      
                         
                              
                                  
                                     
             </div>
          </div>
        
      </div>
    
  </div>
</div>
      </section>
      </div>